@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Khula", sans-serif;
  background-color: rgba(0, 50, 10, 0.06);
}
