.main {
  overflow: hidden;
}

.scroll-space {
  height: 10vh;
}

.logo-space {
  height: 30vh;
}

.card-grid {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.design-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 5vw;
}

.design-row .text {
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
}

.main-section {
  height: 70vh;
  opacity: 0;
  overflow: hidden;
}

.page {
  height: 70vh;
}

/* LOGO */

.logo {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  top: 50%;
  transform: translateY(-50%);
}

.logo-wrapper {
  height: 50%;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.logo-svg {
  margin: 0 auto;
}

.slogan {
  text-align: center;
  font-size: 2em;
  font-family: "hand", cursive;
  margin-top: 20px;
}

.slogan::before,
.slogan::after {
  display: inline-block;
  content: "";
  width: 20vw;
  margin: 0 20px;
  border-top: 1px solid black;
  transform: translateY(-200%);
}

/*
#ff3389
#68bbaf
#DC143C
*/

.card-wrapper {
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  transition: 1s ease all;
  border-radius: 5vh;
  cursor: pointer;
  height: 30vh;
  width: 30vh;
  display: grid;
  place-items: center center;
}

.card-logo {
  max-height: 20vh;
  max-width: 20vh;
}

.card-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.title1 {
  color: #ff3389;
}

.title2 {
  color: #68bbaf;
}

.title3 {
  color: #dc143c;
}

.card1 {
  border: 4px solid #ff3389;
}

.card2 {
  border: 4px solid #68bbaf;
}

.card3 {
  border: 4px solid #dc143c;
}

.card-wrapper:hover .card {
  border-radius: 100%;
}

.card-wrapper:hover .card ~ .buttons {
  opacity: 1;
  transform: scale(0.7);
}

.nav-about {
  color: #0000ff;
}

.nav-design {
  color: #00bfff;
}

.nav-testimony {
  color: #32cd32;
}

.nav-contact {
  color: #ffd700;
}

.nav-bold {
  font-weight: bolder;
  /* letter-spacing: 1.2em; */
}
.navGrid {
  opacity: 0;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 1.3em;
}

.navGrid div {
  cursor: pointer;
}

.buttons {
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: scale(0.5);
  height: 10vh;
  width: 10vh;
}

.button {
  position: absolute;
  height: 10vh;
  width: 10vh;
  display: grid;
  place-items: center center;
  border-radius: 100px;
  object-fit: contain;
  cursor: pointer;
}

.button-logo {
  max-width: 8vh;
  max-height: 8vh;
}

.page {
  padding: 0 15vh;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0 2vh;
  }
}

.founder-img {
  height: 30vh;
  background-color: lightgray;
  border-radius: 7px;
  margin-bottom: 5vh;
}

.text {
  margin-bottom: 5px;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.small-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.text-m {
  font-size: 1.2em;
}

@media screen and (max-width: 900px) {
  .card-grid {
    height: 60vh;
    display: flex;
    justify-content: left;
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .card-wrapper {
    padding: 0 10px;
    width: 100%;
  }
}

.nav-container {
  height: 10vh;
  margin: 0 12vh;
}

@media screen and (max-width: 900px) {
  .nav-container {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .slogan::before,
  .slogan::after {
    width: 7vh;
  }

  body {
    font-size: 70%;
  }

  .card-grid {
    height: 50vh;
  }

  .main-section {
    margin-top: 10vh;
    height: auto;
  }

  .page {
    height: auto;
    margin-bottom: 10vh;
  }

  .founder-img {
    height: 20vh !important;
    background-size: cover !important;
    background-position: top !important;
  }

  .title {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .design-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }

  .col {
    margin-top: 30px;
  }

  .buttons {
    display: none;
  }

  .logo {
    background-color: #edeee9;
  }
}
