.product-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.side-menu {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-menu-logo {
  padding-top: 2vw;
  padding-left: 1vw;
  max-width: 7vw;
  max-height: 7vh;
}

.product-view {
  width: 83vw;
  margin-left: 3vw;
}

.product-catagories {
  display: flex;
  justify-content: space-between;
}

.drop-downs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.drop-down {
  width: 20vw;
}

.drop-down p {
  padding-left: 6vh;
}

.do-bold {
  font-weight: bold;
}

.catagory {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  width: 20vw;
}

.catagory img {
  max-height: 5vh;
  margin-right: 20px;
}

.product-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 5vh;
  margin-right: 5vw;
}

.product-type {
  text-align: left;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.product {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
  margin-left: 0;
  display: grid;
  place-items: center center;
  font-size: 3em;
}

.product-logo-space {
  height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.product-page-logo {
  max-height: 13vh;
}
