.product-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.side-menu {
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-menu-logo {
  padding-top: 2vw;
  padding-left: 1vw;
  max-width: 7vw;
  max-height: 7vh;
}

.product-view {
  width: 83vw;
  margin-left: 3vw;
}

.product-catagories {
  display: flex;
  justify-content: space-between;
}

.drop-downs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.drop-down {
  width: 20vw;
}

.drop-down p {
  padding-left: 6vh;
}

.do-bold {
  font-weight: bold;
}

.catagory {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  width: 20vw;
}

.catagory img {
  max-height: 5vh;
  margin-right: 20px;
}

.product-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 5vh;
  margin-right: 5vw;
}

.product-type {
  text-align: left;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.product {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;
  margin-left: 0;
  display: grid;
  place-items: center center;
  font-size: 3em;
}

.product-logo-space {
  height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.product-page-logo {
  max-height: 13vh;
}

@media screen and (max-width: 900px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .button-logo {
    max-width: 4vh;
    max-height: 4vh;
  }

  .side-menu {
    width: 0;
    display: none;
  }
  .product-view {
    width: 95vw;
    overflow: hidden;
  }

  .product-line {
    height: 6vh;
    padding: 20px 0;
    margin-right: 0;
    border-top: 1px solid lightgray;
  }

  .product-type {
    height: 4vh;
    width: 4vh;
  }

  .product-catagories {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin: 20px 0;
  }

  .catagory {
    min-width: 40vw;
    font-size: 1.2em;
  }

  .product-logo-space {
    margin-bottom: 0;
  }

  .product {
    height: 30vh;
    margin: 0;
    margin-bottom: 20px;
  }
  .product-line {
    margin-bottom: 20px;
  }
}
